@import "../../../../../node_modules/react-awesome-slider/dist/styles.css";
@import "../../../../styles/variables";

.VideoSlider {
  $arrow-gutter: $gutter-lg;

  --organic-arrow-color: #{$color-video-section--slider};
  --organic-arrow-thickness: 20px;
  --organic-arrow-height: 80px;
  --timer-background-color: #{$color-video-section--slider};

  height: 80vh;

  &__slide {
    height: 100%;
    width: 100%;
  }

  .awssld__timer {
    background-color: $color-video-section--slider;
  }

  .awssld__controls {
    visibility: visible;
  }

  .awssld__next {
    right: $arrow-gutter;
  }

  .awssld__prev {
    left: $arrow-gutter;
  }
}