@import "../../styles/animations";
@import "../../styles/variables";

.Loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: transform 1s ease-in ;
  background-color: $color-loader;

  &--hide {
    transform: translateY(-100vh);
  }

  &__logo {
    @include rotation(5s);
  }
}