@import "../../styles/animations";
@import "../../styles/variables";
@import "../../styles/mixins";
@import "../video-item/styles/video-item";

.Loader {
  $root: &;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  transition: transform 1s ease-in ;
  background-color: $color-loader;

  &--hide {
    transform: translateY(-100vh);
  }

  &--loading {
    #{$root}__logo {
      @include rotation(5s);
    }
  }

  &__logo {
    @include video-item-size(30vh);
  }

  &__text {
    @include text-size();

    display: flex;
    justify-content: center;

    &--centered {
      text-align: center;
    }
  }
}