@import "variables";

@mixin rotation($time) {
  animation: rotation infinite $time linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin zoom($time) {
  animation: zoom infinite $time linear;
}

@keyframes zoom {
  50% {
    transform:scale(2);
  }
}

@mixin disco-ball($time) {
  animation: disco-ball infinite $time linear;
}

@keyframes disco-ball {
  25% {
    background: $color-2;
  }
  50% {
    background: $color-3;
  }
  75% {
    background: $color-4;
  }
  100% {
    background: $color-5;
  }
}


@mixin fly-left($time) {
  position: absolute;
  left: 0;
  animation: fly-left infinite $time linear;
}

@keyframes fly-left {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100vw);
  }
}

@mixin fly-right($time) {
  position: absolute;
  left: 0;
  animation: fly-right infinite $time linear;
}

@keyframes fly-right {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(-100%);
  }
}