$font-family-gladiator: 'gladiatorFont';

$gutter-base: 16px;
$gutter-md: $gutter-base;
$gutter-lg: $gutter-base * 2;

$font-size-base: 16px;
$font-size-md: $font-size-base;
$font-size-xl: $font-size-base * 2;