@import "../../styles/variables";
@import "../../styles/mixins";

.SectionItem {
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    @include text-size();

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__title + &__content {
    margin-top: $gutter-lg;
  }
}