@import "../../styles/variables";

.SectionItem {
  display: flex;
  align-items: center;
  justify-content: center;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $font-size-xl;
    text-align: center;
  }

  &__title + &__content {
    margin-top: $gutter-lg;
  }
}