@import "../../../../styles/variables";

.DanceSection {
  background-color: blueviolet;

  &__dances {
    display: flex;
    justify-content: space-between;
  }

  &__run {
    display: flex;
    justify-content: center;
    font-size: $font-size-xl;
  }

  .DanceVideoItem, .DanceSection img {
    width: 200px;
  }
}